@section Styles {
    <link rel="stylesheet" href="~/css/Home/Index.css" />
}

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="text-center display-4">Bienvenue</h1>
    <div class="row">
        <div id="messages" class="col-md-6 offset-md-3">
      
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3 form-inline">
            <input id="username" value="@ViewData["Username"]" class="col-md-3" readonly/>
            <input id="message" class="col-md-9" />
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript" src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script type="text/javascript" src="~/js/Home/Index.js"></script>
}